VITE_SUPABASE_URL=https://pcigqjqhwtclyzoztyie.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjaWdxanFod3RjbHl6b3p0eWllIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUyNTY1MTcsImV4cCI6MjEwMDgzMjUxN30.rzMkw8d9SWzWNSsY6B-CzdK89KESrAK7-O3jEkYzvbo
